/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #a8dadc;
 background: radial-gradient(#15255b,#0f5d54);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#apph1 {
  align-items: center;
}

#todoItems {
  flex-grow: 2;
  border-radius: 1rem;
  border-style: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 1px;
  width: 25rem;
  padding: 1rem;
  transition-duration: 0.5s;
}

#todoItems:focus {
  outline-width: 0px;
  background-color: #17453e;
}

#addBtn {
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  border-style: none;
  margin-left: -1rem;
  transition-duration: 1.0s;
  background: linear-gradient(120deg, var(--c1, #ac8c29), var(--c2, #34349f) 51%, var(--c1, rgb(65, 88, 62))) var(--x, 0%)/ 200%;
}


#addBtn:hover {
  --x: 100%;
}

.todoAppBox {
  display: flex;
  flex-direction: row;
  border: 1px;
  border-radius: 1rem;
  border-style: solid;
  border-color: #365f99
  gap: 0rem;
}

.todoAppBox:hover {
  border-color: #17453e;
}

.todoAppBox:focus {
  border-color: #17453e;
}

.ToDoList {
  align-items: center;
  width: 32rem;
  height: 20rem;
  border-style: dashed;
  margin: 2rem;
}